{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Les Magiciens du Fouet{% endblock %}

{% block content %}
<article id="loginBackground">
    <div class="formContainer">
        <h2>Modifier mon mot de passe</h2>
        <a href="{{ path('account') }}" class="return">Retourner sur mon compte</a>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{ form(form) }}
    </div>
</article>
{% endblock %}
