{% extends 'base.html.twig' %}

{% block content %}
    <div id="index">
        <article class="recette">
            <h2>Recette la plus aimée :</h2>

        </article>
        <a href="" class="button voirRecettes">Voir les recettes</a>
    </div>
{% endblock %}