%alert {
    padding: 10px 10px;
    margin-right: 5px;
    border-radius: 5px
}


.success {
    @extend %alert;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.error {
    @extend %alert;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


%badges {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.badgeSuccess {
    @extend %badges;
    background-color: $bgSubmit;
}

.badgeError {
    @extend %badges;
    background-color: $buttonDelete;
    color: white;
}