%button {
    width: 200px;
    padding: 15px 30px;
    background-color: $bgSubmit;
    border: none;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color:$bgSubmitHover;
        color: white;
        text-decoration: none;
    }
}
.button {
    @extend %button;
}

.buttonDelete {
    @extend %button;
    background-color: #ebcccc;
    &:hover {
        background-color:$buttonDelete;
    }
}
.voirRecettes {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likes {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.likes:hover {
    transform: scale(2);
}