
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: flex;
  align-items: center;
  padding: 20px;

  ul {
    display: flex;
    flex-direction: row!important;
  }

  ul li {

    background-color: rgba($pagination, 0.4)!important;
    transition: background-color 0.2s ease-in-out;
    padding: 0px;
    &:hover {
      background-color: rgba($bgSubmitHover, 0.2)!important;
    }
  }
  li{
    display: block;
    padding: 20px!important;
  }

  .disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: $pagination!important;
  }
  .active {
    font-size: 20px;
    font-weight: bold;
    background-color: $bgSubmit!important;
    &:hover {
      background-color: $bgSubmit!important;
    }
  }

}



@media screen and (max-width: 620px) {

  .pagination {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    ul {
      flex-direction: column!important;
    }
    li {
      padding: 10px;
      width: 100%;
      margin: 1px 0;
    }
  }

}

