{% extends 'base.html.twig' %}

{% block title %}Likes - Les Magiciens du Fouet{% endblock %}

{% block content %}
    <article class="afficherBody">
        <section>
            <div class="afficher">
            </div>
        </section>
    </article>
{% endblock %}
